.ML-product-container {
	background-color: #ffffff;
	border-bottom: 1px solid #eeeeee;

	a {
		color: inherit;
		&:hover { color: inherit; }
	}
}

.ML-product-thumb {
	padding: 16px;
	img { border-radius: 4px; }
}

.ML-product-specs {
	padding-top: 25px;

	.ML-free-shipping {
		padding: 3px 5px;
	}
}

.ML-product-state {
	font-size: 12px;
}