/**
 * Bootstrap resets
 */
.navbar-brand {
  padding: 8px 15px; }

/**
 * Estilos nuevos
 */
.ML-navbar {
  background-color: #FFe600;
  border: 0; }
  .ML-navbar input {
    color: #333333;
    font-size: 14px;
    width: 900px !important; }
