/**
 * Bootstrap resets
 */
.navbar-brand {
  padding: 8px 15px; }

/**
 * Estilos nuevos
 */
.ML-navbar {
  background-color: #FFe600;
  border: 0;
}

.ML-button-search {
  background-color: #eeeeee;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}

.ML-navbar input {
  color: #333333;
  font-size: 18px;
  width: 900px !important; 
}
